﻿@model WebApplication1.Models.Uczestnik
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Imię i nazwisko: @Html.TextBoxFor(x => x.Nazwisko) </p>
        <p>Twój e-mail: @Html.TextBoxFor(x => x.Email)</p>
        <p>Twój telefon: @Html.TextBoxFor(x => x.Telefon)</p>
        <p>
            Czy przyjdziesz?
            @Html.DropDownListFor(x => x.CzyUczestniczy, new[] {
new SelectListItem() {Text = "Tak, przyjdę.", Value = bool.TrueString},
new SelectListItem() {Text = "Nie, nie przyjdę.", Value = bool.FalseString}
}, "Wybierz opcję")
        </p>
        <input type="submit" value="Wyślij" />
    }
