﻿@using WebApplication1.Models
@model IEnumerable<Uczestnik>
@{
    ViewBag.Title = "Uczestnicy";
}

<h2>Uczestnicy</h2>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email )
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>


    }

</table>


